<!DOCTYPE html>
<html>

<head>
<title>{{ title }} - Joel Plaice and Associates Inc.</title>
<meta name="description" content="{{ description }}" />
<meta name="keywords" content="{{ keywords|join(', ') }}" />
<meta name="author" content="Evan Plaice" />
<meta charset="utf-8">
<link rel="stylesheet" href="/base.css" />
<link rel="stylesheet" href="/typeface.css" />
{% block plugin_css %}{% endblock -%}
{%- block page_css %}{% endblock -%}
{%- block page_style %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% block plugin_js %}{% endblock -%}
{%- block page_js %}{% endblock -%}
{%- block page_script %}{% endblock %}
</head>

<body>
<!--Main Container-->
<table align="center"><tr><td>
<div class="container"> 

<!--Title Bar and Nav Bar Background-->
<div class="titlebar"></div>

<!--NavBar-->
<div class=navbar> 
<a class=home href="/"></a>
<a class=home_txt href="/">Home</a>

<a class=about href="/about-us"></a>
<a class=about_txt href="/about-us">About Us</a>

<a class=press href="/press-releases"></a>
<a class=press_txt href="/press-releases">Press Releases</a>

<a class=project href="/projects"></a>
<a class=project_txt href="/projects">Projects</a>

<a class=products href="/sim-products"></a>
<a class=products_txt href="/sim-products">Sim Products</a>

<a class=sims href="/sims-for-sale"></a>
<a class=sims_txt href="/sims-for-sale">Sims For Sale</a>

<a class=parts href="/parts-for-sale"></a>
<a class=parts_txt href="/parts-for-sale">Parts For Sale</a>

<a class=devices href="/devices-for-sale"></a>
<a class=devices_txt href="/devices-for-sale">Devices for Sale</a>

<a class=training href="/training"></a>
<a class=training_txt href="/training">Training</a>

<a class=consulting href="/consulting"></a>
<a class=consulting_txt href="/consulting">Consulting</a>

<a class=link href="/links"></a>
<a class=link_txt href="/links">Links</a>

<a class=contact href="/contact-us"></a>
<a class=contact_txt href="/contact-us">Contact Us</a>
</div>

<div class="body_background"></div>
<div id="body">

{%- if bodytitle %}
<h1 class="h1">{{ bodytitle }}</h1>
{% endif -%}

<div class="breadcrumb"><!--<?php include_once ($_SERVER['DOCUMENT_ROOT'].'/_script/breadcrumbs.php');?>--></div>

<!-- page_content template -->
{%- block page_content %}{% endblock -%}
<!-- end template -->

<!--Close Main Body-->
</div>

<!--Bottom Bar-->
<div class="bottom_bar">
	<a class="copyright" href="/copyright"></a>
</div>

<!--Close Main Container-->
</div>
</td></tr></table>

<!--Google Analytics Tracker-->
<script src="http://www.google-analytics.com/urchin.js"></script>
<script>_uacct = "UA-3478592-1";urchinTracker();</script>

</body>
</html>