{% extends '_base.html' %}
{% block page_content %}
<div class="h1">This is a H1 header</div>
<br />
<div class="h2">This is a H2 header</div>
<br />
<br />
<div class="hr"></div>
<br />
<br />
<div class="p1">This is a paragraph</div>
<br />
<br />
<div class="hr"></div>
<br />
<br />
<div class="p1">
	<div class="cols">
		<div class="col2" style="background-color:#cccccc;">This is a two</div>
		<div class="col2" style="background-color:#ffffff;">column example...</div>
	</div>
</div>
<br />
<div class="p1">
	<div class="cols">
		<div class="col3" style="background-color:#cccccc;">This is a</div>
		<div class="col3" style="background-color:#ffffff;">three column</div>
		<div class="col3" style="background-color:#cccccc;">example...</div>
	</div>
</div>
<br />
<div class="p1">
	<div class="cols">
		<div class="col4" style="background-color:#cccccc;">This is a</div>
		<div class="col4" style="background-color:#ffffff;">four</div>
		<div class="col4" style="background-color:#cccccc;">column</div>
		<div class="col4" style="background-color:#ffffff;">example...</div>
	</div>
</div>
<br />
<div class="p1">
	<div class="cols">
		<div class="col5" style="background-color:#cccccc;">This</div>
		<div class="col5" style="background-color:#ffffff;">is a</div>
		<div class="col5" style="background-color:#cccccc;">five</div>
		<div class="col5" style="background-color:#ffffff;">column</div>
		<div class="col5" style="background-color:#cccccc;">example...</div>
	</div>
</div>
<br />
<br />
<div class="hr"></div>
<br />
<br />
<div class="breadcrumb">This is a BreadCrumb</div>
<br />
<div class="announce">This is the format for an announcement</div>
<br />
<div class="detail">This is the format for a details link</div>
<br />
<br />
<div class="hr"></div>
<br />
<br />
<div class="h2">Page Typeface Formatting Breakdowns</div>
<div class="p1">
Include Files
<ul>
	<li>h1</li>
	<li>breadcrumb</li>
</ul>

index.php
<ul>
	<li>h2</li>
	<li>p1</li>
	<li>announce</li>
</ul>
<br />

about_us/index.php
<ul>
	<li>h2</li>
	<li>p1</li>
	<li>cols</li>
	<li>col3</li>
</ul>
<br />

projects/index.php
<ul>
	<li>prj</li>
	<li>prj_title</li>
	<li>prj_date</li>
	<li>cols</li>
	<li>col2</li>
	<li>detail</li>
</ul>
<br />

projects/atlas/index.php
<ul>
	<li>prj_desc_date</li>
	<li>h2</li>
	<li>p1</li>
	<li>cols</li>
	<li>col3</li>
</ul>

projects/kalitta_construction/index/php
<ul>
	<li>prj_desc_date</li>
	<li>p1</li>
</ul>
<br />

projects/kalitta_move/index.php
<ul>
	<li>prj_desc_date</li>
</ul>
<br />

projects/kalitta_update/index.php
<ul>
	<li>prj_desc_date</li>
	<li>p1</li>
</ul>
<br />

sim_products/index.php
<ul>
	<li>prd</li>
	<li>prdtitle</li>
	<li>prdtext</li>
	<li>p1</li>
	<li>detail</li>
</ul>
<br />

sim_products/tcas/index.php
<ul>
	<li>h2</li>
	<li>p1</li>
</ul>
<br />

sim_products/rios/index.php
<ul>
	<li>p1</li>
</ul>
<br />

sims_for_sale/index.php
<ul>
	<li>sim</li>
	<li>simtitle</li>
	<li>simtext</li>
	<li>detail</li>
</ul>
<br />

links/index.php
<ul>
	<li>link_section_title</li>
</ul>
<br />

press_releases/index.php
<ul>
	<li>press_top_text</li>
	<li>press_content</li>
	<li>p1</li>
</ul>
<br />

consulting/index.php
<ul>
	<li>h2</li>
	<li>p1</li>
	<li>detail</li>
</ul>
<br />

contact_us/index.php
<ul>
	<li>c_name</li>
	<li>c_nfo</li>
</ul>
<br />
</div>
{% endblock%}