{% extends '_base.html' %}
{% set bodytitle='About Us' %}
{% block page_content %}
<div class="p1">JPA is an International Simulator Consulting and Technical Support company headquartered in Westminster, Colorado, USA. JPA has been assisting customers throughout the Commercial Aviation industry for over 10 years. As a small, 100% veteran owned business, we can offer tailored large or small scale support.</div>

<div class="h2">Philosophy</div>
<div class="p1">JPA provides only the services a simulator operator or owner requires from the small consulting role up to the total turnkey solution. In some cases, companies only wish the expert advice from JPA when considering purchasing a simulator and bringing it into training. In others, JPA has assisted customers from the beginning of the search for a training device, through purchase of the device, relocation, facility design, setting up the simulator operation, customizing the simulator to required training needs and certifying authority standards. JPA has even recruited and trained the staff in order for the simulator operation to get off to a good start. In other cases JPA has only assisted with some minor segment of the entire process.</div>
<div class="p1">The guiding philosophy is to offer the simulator operator only the services they really need. We can adapt our products and services to whatever the need may be. Our overhead is extremely low, so little is spent and charged to the customer for marketing, business management, etc. Our resources go 90% directly into the product we deliver to the customer. Assistance with buying or selling simulators and other flight training equipment is provided either in a Seller-Broker or as a Buyer Representative role. The relationship is always structured to meet the situation. </div>

<div class="h2">Operations:</div>
<div class="p1">JPA provides simulator consulting and support services in the following areas:
<div class="cols"> 
  <div class="col3">
    <ul>
      <li>Simulator Evaluations</li>
      <li>Operations Organization</li>
      <li>Equipment Brokering</li>
      <li>Fixed Sim Maintenance</li>
    </ul>
  </div>
  <div class="col3">
    <ul>
      <li>Simulator Appraisals</li>
      <li>Simulator Relocations</li>
      <li>Spare Parts Supply</li>
      <li>Certification Support</li>
    </ul>
  </div>
  <div class="col3">
    <ul>
      <li>Facility Design</li>
      <li>Procurement Support</li>
      <li>Emergency Field Support</li>
    </ul>
  </div>
  </div>
</div>

<div class="p1">In addition, JPA provides update and modification services for every aspect of simulation including:
  <div class="cols">
    <div class="col3">
      <ul>
        <li>Certification Update Projects</li>
        <li>Radio Aids Updates</li>
        <li>Certification Test Systems</li>
      </ul>
    </div>
    <div class="col3">
      <ul>
        <li>TCAS</li>
        <li>Instructor Stations</li>
        <li>EGPWS</li>
      </ul>
    </div>
    <div class="col3">
      <ul>
        <li>GPS</li>
        <li>Control Loading</li>
        <li>Inertial Nav Systems</li>
      </ul>
    </div>
  </div>
</div>
{% endblock%}