{% extends '_base.html' %}
{% set bodytitle='Flight Simulation Consulting' %}
{% block page_content %}
<div class="h2" id="index">Index:</div>
<div class="p1">	
  <ol>
    <li><a href="#appraisals">Appraisals</a></li>
    <li><a href="#facility_design">Facility Design</a></li>
    <li><a href="#construction_oversight">Construction Oversight</a></li>
    <li><a href="#procurement_management">Procurement Management</a></li>
    <li><a href="#project_management">Project Management</a></li>
    <li><a href="#organizational_consulting">Organizational Consulting</a></li>
    <li><a href="#technical_evaluations">Technical Evaluations</a></li>
  </ol>
</div>
<br />

<div class="h2" id="appraisals">Appraisals</div>
<div class="p1">Financial Appraisals Reports can be furnished  to provide customized, value based reports for Simulators, Simulation-related equipment, and Simulator-related organizations.  JPA has provided such services for Airlines, Simulator Training Organizations, and Financial Institutions.</div>
<div class="p1">Appraisals begin by gathering data from past experiences and transactions, public and private industry intelligence, equipment inspections and evaluations, interviews, and documentation examinations to formulate a current market value to Simulator equipment.   The appraisal includes a market and industry overview and analysis, provided to analyze any particular equipment's value as relates to industry shortages, surpluses, or future market demand.</div>
<div class="p1">An appraisal can be furnished in several different formats depending on the customer's required level of detail and desired price.  At the simple and most inexpensive end of the spectrum, the appraisal can come in the form of a "desktop" evaluation, which is developed at our offices, utilizing data and information available.  The product provided is more of an "Opinion of Value" than an appraisal.  In some cases, this is all the customer needs and considerable cost can be realized by not ordering a full appraisal.  At the most complex and expensive end of the spectrum is an appraisal that includes inspection and evaluation of the equipment.  In this case, JPA experts visit the device, conduct an exhaustive maintenance and engineering inspection of the device, and develop a Technical Analysis which is further developed in the appraisal to more accurately assign a market value to the device.</div>
<div class="detail"><a href="#index">Return to Top</a></div>
<br />

<div class="h2" id="facility_design">Facility Design</div>
<div class="p1">JPA personnel have been active in the Simulator-specific facility design business for 20 years.  Facility designs from single and double simulator installation facilities to one with the capability to house 20 simulators have been provided by JPA personnel.</div>
<div class="p1">With an extensive knowledge of many simulator facilities throughout the world, JPA has developed several plans for simulator facilities which vary according to the following needs:
  <ol>
    <li>Customer budgeting</li>
    <li>The need for "generic" designs to accommodate varied simulator designs</li>
    <li>Future expansion needs</li>
    <li>Environmental needs</li>
    <li>"Customer Satisfaction" features</li>
    <li>Facility goals (eg.,  airline private vs  contract training type business)</li>
    <li>Equipment installation and removal costs</li>
    <li>Reduced recurring facility costs</li>
  </ol>
</div>
<div class="p1">JPA's standard designs include, single, double, and "quad" configurations.  An emphasis is placed on clean, unencumbered facilities while balancing this against economical construction.  Each bay and associated support spaces are designed so that any simulator manufactured now or in the past can be accommodated into any simulator bay in the building.</div>
<div class="p1">JPA has worked with every simulator design developed over the last 40 years, including currently manufactured devices.  JPA expert personnel are experienced with all simulator manufacturing specifications as they involve facility requirements.</div>
<div class="p1">JPA is NOT an Architectural Firm.  JPA works with a Customer-Selected Architectural firm to encompass the simulator space design into an overall Architect-Derived Facility Design.  While not being expert at building electrical, mechanical, or structural issues, JPA is well experienced in the effects and requirements on standard building designs where electrical, mechanical, and structural requirements must be altered to accommodate the Simulator equipment and the Maintenance and Training Organization that is associated with it.</div>
<div class="detail"><a href="#index">Return to Top</a></div>
<br />

<div class="h2" id="construction_oversight">Construction Oversight</div>
<div class="p1">JPA has worked with numerous Facility General Contractors to ensure that facility objectives are met as relates to simulator-specific spaces.</div>
<div class="p1">Often the best designs should ensure the most attractive, effective, and economical facility can be constructed which meets the customer's needs.  Even with the best planning and communications, original concepts and important details are overlooked or misinterpreted.  Many of these are non-reversible once the building construction meets various stages.  In other cases, reversing a construction mistake can be both costly and schedule altering.</div>
<div class="p1">JPA builds a relationship with the design and construction personnel involved with the construction project.  The progress of the construction is constantly monitored and checked against original concepts and eventual needs.  Any facility design changes are carefully studied to ensure that there is no adverse effect to the facility or the intended simulator installation and operation.   This includes continual involvement in the design, planning, and construction phases.  JPA conducts multiple construction site visits and inspections throughout the process.</div>
<div class="detail"><a href="#index">Return to Top</a></div>
<br />

<div class="h2" id="procurement_management">Procurement Management</div>
<div class="p1">JPA personnel have considerable experience in the specifying, negotiating, and procurement of simulator and associated training equipment.  The experience includes every major simulator manufacturer and most minor equipment providers.</div>
<div class="p1">JPA can offer assistance with any or all of the following:
  <ol>
    <li>Planning and specification development for required Training equipment</li>
    <li>Negotiation assistance with Simulator Equipment Manufacturers</li>
    <li>Oversight services throughout the manufacturing process</li>
    <li>Inspection and Acceptance assistance</li>
  </ol>
</div>
<div class="p1">All simulator manufacturer's strive to build the best training equipment possible and try to meet and exceed the customers' expectations.  The manufacturer can do only so much to reach these goals.  The customer must have an entity acting to provide guidance and assistance from the customer side of the project that is knowledgeable and reactive to the manufacture's requests and needs.  Without a concerted effort on the customer's side, even the best attempts on the manufacturer's side results in not meeting the goals possible.</div>
<div class="p1">JPA has assisted startup airlines, experienced and mature airlines, and Independent Training Centers with procuring the best equipment at the best cost to meet their needs.  This is truly one case where the money spent on consulting fees results in savings in multiples compared to the fees charged.</div>
<div class="p1">In the process of overseeing the equipment procurement and assisting with formal acceptance of the equipment, JPA has the opportunity to advise the customer on what will be required to operate and maintain the devices.  Assistance is available to point out specific organizational needs as they pertain to a particular procured device and point out where and how the simulator manufacturer can assist in these issues.</div>
<div class="detail"><a href="#index">Return to Top</a></div>
<br />

<div class="h2" id="project_management">Project Management</div>
<div class="p1">JPA personnel have been managing both minor and major projects for over 25 years.  Some of these projects have been totally within airline organizations, yet many have been executed on behalf of airlines and training centers, but have been conducted entirely outside of the airline structure.</div>
<div class="p1">JPA can either pick up the entire project a customer needs to have accomplished and execute it in a "turnkey" fashion, or assist at some level in the management of the project.  JPA assesses the customer's goals, develops a plan, and executes the plan to a point where the customer is 100% satisfied.  In many cases JPA has conducted these projects in a "work-share" fashion where the customer contributes in a minor or major way in terms of materials, labor, or both.    JPA can also entirely manage a project where all resources (materials, labor, and data) are all provided by the customer.</div>
<div class="p1">Relationships built with most of the major and smaller companies in the industry enable JPA to call together an extremely talented and successful team of professionals from every discipline to work as a team capably and effectively.  These teams have successfully executed projects from straightforward simulator relocations to comprehensive simulator updates including initial certification activities.</div>
<div class="detail"><a href="#index">Return to Top</a></div>
<br />

<div class="h2" id="organizational_consulting">Organizational Consulting</div>
<div class="p1">Based on previous airline simulator operations experience spanning 19 years, JPA is able to assist an organization in determining what their operational needs will be.  JPA has also gone into existing simulator operations entities, analyzed the operations, equipment, budgets, and processes and advised these entities as to how they could improve efficiencies, reduce costs, or provide a better product.</div>
<div class="p1">Many entities starting out in simulator operations, or those who find themselves changing the entire nature of their organization can often benefit from an outside consultant coming in and studying the operation from an outsider's viewpoint.  Then the results of that analysis can be put into perspective and compared to other operations and a set of suggestions or an overall plan can be provided.  This includes staffing, budgeting, equipment disposition, and even manpower resource allocation.</div>
<div class="detail"><a href="#index">Return to Top</a></div>
<br />

<div class="h2" id="technical_evaluations">Technical Evaluations</div>
<div class="p1">JPA has conducted Simulator, Simulator Related Equipment, and even Simulator Training Operations Technical Evaluations for Operators, Buyers, Sellers, and Financial Entities.</div>
<div class="p1">The most common Technical Evaluation is conducted in the form of a "Baseline Inspection".  This is done when a simulator is to be relocated.  JPA establishes the operating baseline of the device which can be used after the relocation and commissioning is complete to ensure contract compliance of a "turnkey" relocation.</div>
<div class="p1">The Technical Evaluation is also often conducted when a customer is interested in purchasing an operating device.  JPA evaluates the condition of the equipment in detail.  The results of the inspection are then analyzed in order to form a set of options for the future.  These include such things as updates to obsolete equipment, modifications to the device to support the Buyer's training program, and suggestions as to alterations which will help make the operation more economical in the future.</div>
<div class="p1">As with appraisals, the Technical Evaluations can be offered at many levels of complexity and cost.</div>
<div class="detail"><a href="#index">Return to Top</a></div>
<br />
{% endblock %}