{% extends '_base.html' %}
{% set bodytitle='Kalitta Air B747-200 Simulator Facility Planning and Construction' %}
{% block plugin_js %}<script src="/fadomatic.js"></script>{% endblock %}
{% block page_content %}
<div class="prj_desc_date">Timeframe: Fall 2005 - Winter 2005</div>
<div class="hr"></div>
<br />
<div class="thumbs">
{%- set image='/projects/kalitta_construction_' -%}
{%- set thumb='/projects/kalitta_construction_t' -%}
{% for count in range(1,14) %}
  <a href="{{image}}{{count}}.jpg" target="_blank" onclick="thumb_click('t{{count}}');return false;">
    <img src="{{thumb}}{{count}}.jpg" />
  </a>
  <div class="pic_over" id="t{{count}}" onclick="thumb_close('t{{count}}')">
    <img src="{{image}}{{count}}.jpg" />
  </div>
{% endfor %}
</div>
<br />
  <div class="hr"></div>
<br />
<div class="p1">With no home for such a simulator, Kalitta Air decided to group this need with others resulting in the construction of a two bay training facility with classroom and Training Department spaces. The building also was designed and built to house Kalitta Air Human Resources, Finance, Accounting, and Technical Publications Departments.</div>
<div class="p1">JPA designed the simulator portion of the building, containing two bays, a shared computer room, shared hydraulic bay, and Simulator Maintenance Shop. This state-of-the-art building now houses the Kalitta Air B747-200/300 simulator and awaits the next simulator to be installed in the 2nd Bay.</div>
<div class="p1">JPA has been assisting Kalitta Air in the simulator operations division start up. From assisting in recruiting staff to setting up day to day operations, JPA has been very involved in every aspect of the newly started Kalitta Air Simulator operation. Support equipment, Tools, and spare parts have been located and made available to Kalitta air in order to have a totally supported simulator maintenance and engineering operation.</div>
{% endblock %}